/*?  GLOBAL  ?*/

body {
  font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #fff7e0;
}

a {
  text-decoration: none;
}

button, input[type='button'], a {
  cursor: pointer;
}

/*?  LOGIN/SIGNUP  ?*/

.centering {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form-account {
  padding: 60px 70px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: #444477 0px 0px 8px;
}

.form-account .head {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-form {
  display: flex;
  flex-direction: column;
  font-size: 17px;
}

.input-form label {
  margin: 30px 00px 6px 10px;
  color: #444444;
}

.input-form input {
  padding: 10px 20px;
  width: 250px;
  font-size: 16px;
  color: #444444;
}

.input-btn {
  margin-top: 40px;
  text-align: center;
}

.input-btn input {
  padding: 8px 18px;
  font-size: 18px; 
  font-weight: bold;
  border-radius: 12px;
  color:#fff;
  background-color: #4f4aff;
  border: 0;
}

.input-btn a {
  margin-left: 10px;
  text-decoration: none;
}

/*?  HEADER  ?*/

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: #ff9c3f 0px 3px 1px;
  height: 60px;
}

.company-logo {
  font-weight: bold;
  font-size: 30px;
  padding: 0px 50px 0px 40px;
  font-family: 'Tahoma';
  color: #ffbb00;
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav a:not(.company-logo) {
  font-stretch: expanded;
  font-size: 18px;
  padding: 0px 20px;
  color: #777;
}

.right-nav {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.right-nav a {
  padding: 0 10px;
}

/*?  SIDEBAR  ?*/

.sidebar-main {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 200px;
  box-shadow: #ff9c3f 5px 0 1px -2px;
  display: flex;
  flex-direction: column;
}

.sidebar-main label {
  font-weight: bold;
  padding: 18px 0 18px 35px; 
  font-size: 18px;
  background-color: #ffbb00;
  color: #555;
}

.sidebar-main a {
  padding: 22px 0 22px 50px; 
  font-size: 16px;
  color: #777;
}

.sb-selected {
  background-image: linear-gradient(to right, #fff7e0, #ffda6c);
}

/*?  DASHBOARD CONTENT  ?*/

#dashboard-main {
  position: absolute;
  top: 60px;
  left: 200px;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: #555;
  min-width: 800px;
}

.dashroom-section {
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 30px;
  margin: 30px 0 20px 25px;
}

.section-title span{
  color: #aaa; 
}

.start-options {
  border-top: #777 1px solid; 
  border-bottom: #777 1px solid; 
  padding: 8px 20px;
  background-color: #ffde7c;
}

.start-options label {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;
}

.create-btn , .join-btn, .join-text{
  font-family: 'Calibri';
  padding: 3px 10px;
  font-size: 17px;
  border: #777 1px solid;
  margin: 0 10px;
}

.create-btn, .join-btn {
  border-radius: 8px;
}

.create-btn {
  color: #444;
  background-color: #ffbb00;
  font-weight: bold;
}

.join-text {
  width: 300px;
  border-radius: 5px;
}

.join-btn {
  background-color: #fdfdfd;
  color: #555;
}

.no-results {
  font-size: 20px;
  padding: 150px;
  text-align: center;
  color: #777;
}

.no-results span {
  color: rgb(81, 81, 255);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.dashroom-section table {
  border-collapse: collapse;
  width: 100%

}

.dashroom-section th {
  text-align: left;
  padding: 20px 0 5px 20px;
  color: #aaa;
  font-weight: normal;
  border-bottom: #777 1px solid; 
}
#th-1 {
  min-width: 100px;
}

#th-2 {
  min-width: 300px;
}

#th-3 {
  min-width: 150px;
}

#th-4 {
  min-width: 150px;
}

#th-5 {
  min-width: 150px;
}

.dashroom-section td {
  color: #555;
  padding: 15px 20px;
}

.dashroom-section .item-1 {
  padding-left: 37px; 
}

.list-item {
  background-color: #fff;
  border-bottom: #777 1px solid; 
  cursor: pointer;
}

.list-item:hover {
  color: #eee;
  background-color: #d1d1d1;
}

/*? ROOM ?*/
.editor-main {
  min-width: 1000px;
  min-height: 500px;
}

.editor-main .top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 5px 0; 
  border-bottom: #555 2px solid; 
}

.editor-main .top .top-left {
  display: flex;
}

.editor-main .top .info-display label {
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

.editor-main .bottom {
  width: 100%;
  height:90vh;
  display: flex;
}

.side-lists {
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  bottom: 0;
  padding: 5px;
  border-right:1px solid #555;
}

.member-list {
  overflow: auto;
  font-size: 20px;
  height: 80%;
}

.leave-btn, .copy-btn, .run-btn {
  border: 0;
  color: #fff;
  font-weight: bold;
}

.leave-btn {
  border-radius: 8px;
  padding: 8px 18px;
  background-color: #f00;
  font-size: 17px;
  margin: 10px;
}
.copy-btn {
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
  background-color: #27f
}

.run-btn {
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 18px;
  background-color: #5e5
}

.editor-section {
  display:flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 60px;
  left: 210px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.editor-div {
  height: 100%;
  width: 50%;
  font-size: 16px;
}

#output-div {
  height: 100%;
  background-color: #fff;
  width: 50%;
}