/*?  GLOBAL  ?*/

body {
  font-family: Calibri, Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

:root {
  /*Color*/
  --darker-base-color: #0f58b6;
  --base-color: #1a7af7;
  --lighter-base-color: #cff4fd;

  /*Text*/
  --gray-dark: #505050;
  --gray: #808080;
  --gray-light: #e0e0e0;

  --note-color: #f8590f;
  --warning: #ff3333;
}

a {
  text-decoration: none;
}

button, input[type='button'], input[type='submit'], a, select, option {
  cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 3px 0;
}

/* Width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
} 

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray); 
  border-radius: 20px;
  transition: .5s;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-dark); 
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.input-data {
  padding: 10px 15px;
  font-family: 'Calibri', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: var(--gray-dark);
}

.label-warning {
  display: flex;
  align-items: flex-end;
  margin-bottom: 7px;
  font-size: 13px !important;
  font-weight: normal !important;
  color: rgba(250, 48, 48, 0.8) !important;
}

#create-team h3 {
  display: inline;
}

#popup-gray-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

#popup-gray-background:first-child {
  z-index: 200;
  transition: 0.5s ease;
}

#popup-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  cursor: pointer;
  border-radius : 30px;
  transition: 0.2s;
  color: var(--gray-dark);
}

#popup-close:hover {
  box-shadow: 0 0 5px var(--gray-dark);
}

#popup-submit, #popup-cancel {
  padding: 8px 40px;
  border-radius: 12px;
  margin-right: 10px;
  font-size: 17px;
  font-family: Calibri;
}

#popup-submit {
  border: 0;
  background-color: var(--base-color);
  color: #fff;
}

#popup-cancel {
  border: 1px var(--gray-dark) solid;
  background-color: #fff;
  color: var(--gray-dark)
}

/*?  LOGIN/SIGNUP  ?*/

.centering {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-account {
  border-radius: 20px;
  background-color: #fff;
  border: solid #444477 8px;
  border-radius: 30px 0;

}

.form-account .head {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-form {
  margin-top: 10px;
  border-top: 1px var(--gray) solid;
  display: grid;
  grid-template-columns: auto auto;
  font-size: 15px;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin: 10px 15px;
}

.option-select label {
  margin: 0px 5px;
}

.option-select select {
  border: 0;
  border-bottom: 2px solid var(--gray-dark);
  color: var(--gray-dark);
  margin-right: 10px;
  font-size: 15px;
}

#section-label {
  font-size: 12px;
  width: 200px;
}

#section-label label {
  color: var(--note-color);
}

.input-div label {
  margin-bottom: 6px;
  color: var(--gray-dark);
}

.input-div .input-data {
  width: 180px;
  border-radius: 10px 0;
  border: 2px solid var(--gray);
}

.input-btn {
  margin-top: 20px;
  text-align: center;
}

.input-btn input {
  font-size: 18px; 
  font-weight: bold;
  border-radius: 12px;
  color:#fff;
  background-color: #4f4aff;
  border: 0;
}

.input-btn label {
  margin-left: 10px;
  text-decoration: none;
}

/*?  HEADER  ?*/

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--base-color); 
  height: 60px;
}

header a {
  color: #fff
}

#company-logo {
  font-weight: bold;
  font-size: 30px;
  padding: 0px 50px 0px 40px;
  font-family: 'Tahoma';
}

.left-nav {
  display: flex;
  align-items: center;
}

.left-nav a:not(#company-logo) {
  font-stretch: expanded;
  font-size: 18px;
  padding: 0px 20px;
}

.top-profile {
  border-radius: 10px;
  background-color: #fff;  
  padding: 7px 24px;
  color: var(--gray-dark);
}

.right-nav {
  display: flex;
  padding-right: 30px;
  align-items: center;
}

.right-nav button {
  background-color: transparent;
  border: 0;
  color: #fff;
}


/*?  SIDEBAR  ?*/

#sidebar-main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 109px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px var(--gray-light) solid;
  box-shadow: 0 0 5px var(--gray-dark);
  z-index: 75;
}

.sb-filter {
  font-weight: bold;
  font-size: 20px;
}

.sb-ops {
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  color: var(--base-color);
  border: 0;
  background-color: transparent;
  text-underline-offset: 4px;
}

.sb-ops label {
  color: var(--gray);
  cursor: pointer;
  line-height: 1.3;
}

#sidebar-main .selected {
  color: var(--base-color);
  text-decoration: underline 2px solid;
}

#sidebar-main .selected label{
  color: #000;
}

/*?  DASHBOARD CONTENT  ?*/
#dashboard-main {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--gray-dark);
  overflow: hidden;
}

.dash-section {
  position: absolute;
  top: 0;
  left: 150px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  max-width: 1900px;
  overflow: hidden;
}

#courses-tab {
  top:0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--gray-light);
  z-index: 50;
  overflow: hidden;
}

.course-scroll {
  display: flex;
  scroll-behavior: smooth;
  margin: 0 8px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.course-scroll::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}

.course-button {
  height: 44px;
  padding: 0 24px;
  background-color: transparent;
  border: 0;
  color: var(--gray-dark);
  font-weight: bold;
  flex: 0 0 auto;
}

.scroll-arrow {  
  background: none;
  border: none;
  font-size: 24px;
  height: 100%;
  padding: 0 8px;
}
.scroll-arrow.left {
  box-shadow: 8px 0 8px rgb(128, 128, 128, .3);
}
.scroll-arrow.right {
  box-shadow: -8px 0 8px rgb(128, 128, 128, .3);
}

.course-button.selected {
  border-bottom: 3px solid var(--gray);
}

.display-content {
  position: absolute;
  top: 60px;
  left: 0;
  right:0;
  bottom: 0;
  padding: 0 15px;
  overflow: auto;
}

.separator {
  position: relative;
  margin: 10px 0 40px 0;
}

.section-title {
  font-size: 20px;
  padding: 0 0 2px 10px;
  width: 90%;  
  border-bottom: var(--gray) 2px solid;
}

.section-title span{
  color: var(--gray);
}

.create-btn {
  font-family: 'Calibri';
  padding: 5px 12px;
  font-size: 16px;
  border: var(--gray) 1px solid;
  margin: 15px 0 0 12px;
  color: var(--gray-dark);
  background-color: var(--gray-light);
  border-radius: 8px;
}

.no-results {
  font-size: 17px;
  padding: 10px;
  color: var(--gray);
}

.solo-table, .assigned-table {
  border-collapse: collapse;
  width: 70%;
  margin: 20px 0 0 15px;  
  font-size: 15px;
}

.solo-table .col-1 {
  width: 20%;
}
.solo-table .col-2 {
  width: 45%;
}
.solo-table .col-3 {
  width: 35%;
}

.dash-section th {
  text-align: left;
  padding: 10px 0 8px 20px;
  color: var(--gray-dark);
  font-weight: bold;
  border-bottom: var(--gray) 1px solid; 
  background-color: var(--gray-light);
}

.dash-section td {
  color: var(--gray-dark);
  padding: 15px 20px;
}

.list-item {
  background-color: #fff;
  border-bottom: var(--gray) 1px solid; 
  cursor: pointer;
}

.list-item:hover {
  color: #fff;
  background-color: var(--lighter-base-color);
}

#create-team {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 45px;
  min-width: 50%;
  max-width: 100%;
  overflow-y: hidden;
}

.scroll {
  padding-right: 15px;
  max-height: calc(90vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#create-team .head {
  padding-bottom: 15px;
  border-bottom: var(--base-color) 3px solid;
}

#create-team .input-data, #create-team select {
  border: var(--gray) 2px solid;
}

#create-team select {
  padding: 10px 5px;
}

#create-team h3 {
  margin-top: 25px;
}

#create-team .flex-row .flex-column {
  width: 50%;
  justify-content:  flex-start;
}

#create-team select {
  width: 100px; 
  border-radius: 8px;
  color: var(--gray-dark);
  font-weight: bold;
}

#search-results-div {
  width: 100%;
  position: relative;
}

#member-search-list {
  margin: 0;
  position: absolute;
  left: 2px;
  right: 2px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 3px 5px var(--gray-dark);
  border-radius: 0 0 10px 10px;
  opacity: 0;
  visibility: hidden;
}

.member-search-item {
  padding: 10px 10%;
  overflow-x: hidden;
  cursor: pointer;
  border-bottom: 1px var(--gray-dark) solid;
}

.member-search-item:hover {
  background-color: var(--lighter-base-color);
}

#chosen-members {
  background-color: var(--lighter-base-color);
  padding: 20px 30px;
  border-radius: 20px;
  margin: 30px 0 10px 0;
}

.member-selected {
  border-bottom: 1px var(--gray) solid;
  padding: 10px;
  justify-content: space-between;
  white-space: nowrap;
}

.remove-member {
  border: 0;
  font-size: 11px;
  color: var(--warning);
  padding: 3px;
  background-color: transparent;
}

#member-search-list .member-search-item:last-child, #chosen-members .member-selected:last-child {
  border-bottom: 0;
}

#create-team .footer {
  margin-top: 30px;
}

.team-selection {
  margin: 15px;
  overflow-x: auto;

}

.team-box {
  width: 150px;
  overflow: hidden;
  background-color: var(--lighter-base-color);
  padding: 15px;
  border-radius: 10px;
  margin-right: 15px;
  cursor: pointer;
  flex: 0 0 auto;
}

.team-box-images {
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

.team-box .name {
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
  color: var(--gray-dark);
  cursor: pointer;
}

.team-box .members {
  font-size: 12px;
  color: var(--gray-dark);
  cursor: pointer;
}

/*? ROOM ?*/

.editor-main {
  min-width: 1000px;
  min-height: 500px;
}

.editor-main #top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px 5px 0; 
  border-bottom: var(--gray) 2px solid;
  box-shadow: #555 0 0 1px;
  overflow:hidden;
  transition: 0.5s;
}

.editor-main #top .top-left {
  display: flex;
}

.info-display, .info-display input[type='text'] {
  font-size: 18px;
  color: #333;
}

.info-display input[type='text'] {
  background-color: unset;
  border: 0;
  font-family: 'Calibri';
}


.info-display button {
  margin-left: 10px;
}

#side-lists {
  position: absolute;
  width: 200px;
  top: 62px;
  left: 0;
  bottom: 0;
  padding: 5px;
  border-right:2px solid var(--gray);
  overflow:hidden;
  transition: 0.5s;
}

.member-list {
  overflow: auto;
  font-size: 20px;
  height: 80%;
}

.leave-btn, .copy-btn, .run-btn {
  border: 0;
  color: #fff;
  font-weight: bold;
}

.leave-btn {
  border-radius: 8px;
  padding: 8px 18px;
  background-color: #f00;
  font-size: 17px;
  margin: 10px;
}
.copy-btn {
  border-radius: 5px;
  padding: 4px 10px;
  font-size: 15px;
  background-color: #27f
}

.run-btn {
  border-radius: 5px;
  padding: 6px 20px;
  font-size: 18px;
  background-color: #5e5
}

.hide-btn {
  position: absolute;
  top: 64px;
  right: 2px;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 10px;
  background-color: gray;
  transition: .5s;
}


.edit-btn {
  cursor: pointer;
  border: 0;
  background-color: unset;
}

#editor-section {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  top: 62px;
  left: 212px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: 0.5s;
}

#editor-div {
  height: 100%;
  width: 50%;
  font-size: 16px;
  transition: 0.5s;
  background-color: #282c34;
  overflow-y: scroll;
  overflow-x: hidden;
}

#output-div {
  height: 100%;
  background-color: #fff;
  width: 50%;
  border: 0;
  transition: 0.5s;
}